<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tipsy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B234EB3C1D81D7FC000382D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B234EB501D81D7FC000382D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B234EB5B1D81D7FC000382D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
